table.blueTable {
  border: 1px solid #1C6EA4;
  /*background-color: #EEEEEE;*/
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 12px;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
